version: '3.0'

services:
  amazon-scraper:
    image: jenslaufer/amazon-scraper:latest
    container_name: amazon-scraper
    ports:
      - 8085:5000
    environment:
      - MONGODB_URI=mongodb://amazon-db/amazon
      - SCRAPER_API_KEY=<YOUR-SCRAPER-API-KEÃ>
    depends_on:
      - amazon-db

  amazon-scraper-webapp:
    image: jenslaufer/scraper-webapp:latest
    container_name: amazon-scraper-webapp
    ports:
      - 8089:8080
    depends_on:
      - amazon-scraper-webapp

  amazon-db:
    image: mongo:4
    container_name: amazon-db
    ports:
      - 27017 #27017:27017 in case you want to access the mongodb from outsite
